---
import App from "../App";
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
import SEOContainer from "../components/SEOContainer.astro";
import en from "../languages/tiktok/en.json";

const languageCode = 'en'

const props = {
    lang: languageCode,
    formTitle: en.form.formTitle,
    formDescription: en.form.formDescription,
    formPlaceholder: en.form.formPlaceholder,
    formPasteButtonTitle: en.form.formPasteButtonTitle,
    formClearButtonTitle: en.form.formClearButtonTitle,
    formSubmitButtonTitle: en.form.formSubmitButtonTitle,
}
---

<Layout
        lang={languageCode}
        title={en.site.title}
        site="https://blessingsave.com"
        sizeDefault="https://blessingsave.com"
        description={en.site.description}>
    <Header tiktokButtonTitle={en.header.tiktokButtonTitle}
            instagramButtonTitle={en.header.instagramButtonTitle}
            languagesButtonTitle={en.header.languageButtonTitle}/>
    <Main>
        <App
                client:load {...props}
        />
        <amp-auto-ads type="adsense"
                      data-ad-client="ca-pub-4861255981688770">
        </amp-auto-ads>
        <SEOContainer
                firstIntroduce={en.SEOContainer.introduce.first}
                secondIntroduce={en.SEOContainer.introduce.second}
                featuresTitle={en.SEOContainer.feature.title}
                featuresContents={en.SEOContainer.feature.contents}
                FAQTitle={en.SEOContainer.faq.title}
                FAQItems={en.SEOContainer.faq.items}/>
        <amp-auto-ads type="adsense"
                      data-ad-client="ca-pub-4861255981688770">
        </amp-auto-ads>
    </Main>
    <Footer/>
</Layout>
